@page "/can-xac-thuc-email-dang-ky.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực Email";
}

<h1>@ViewData["Title"]</h1>

<p>
        Kiểm tra email của bạn để xác nhận xác thực tài khoản.
</p>

