@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã thay đổi thành công mật khẩu. <a asp-page="./Login">Bấm vào đây</a> để đăng nhập.
</p>
